<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598566306207-btlqtqifj0mldst3qsm9a5ue1f6njb7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598566306207-btlqtqifj0mldst3qsm9a5ue1f6njb7v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598566306207-saiebpkutpvtpc2tsmhhnemu5rpphj28.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBaxu9r8DxKYacAo0MsbZTl9WytZB3WHRc</string>
	<key>GCM_SENDER_ID</key>
	<string>598566306207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindscode.guiamedicave</string>
	<key>PROJECT_ID</key>
	<string>guia-medica-venezuela-3805a</string>
	<key>STORAGE_BUCKET</key>
	<string>guia-medica-venezuela-3805a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598566306207:ios:e875ef85a1f09776cd3daa</string>
</dict>
</plist>